@charset "utf-8";

/* Based on reset.css by dan@simplebits.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;font-size:100%;vertical-align:baseline;border:0;outline:0;background:transparent;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
:focus{outline:0;}
table{border-collapse:collapse;border-spacing:0;}

/* styles */
html{
    background-color: #f3f4f6;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #1B1B1B;
	font-size: 28px;
	text-align:left;
}
#content{
	padding: 10px 50px;
}
h1 {
	text-align:left;
	padding: 20px 50px;
	background-color: #212222;
	color: #F1F1F2;
	font-weight: bold;
	font-size: 48px;
	letter-spacing: -1px;
}

span#subhead {
	font-size: 28px;
	vertical-align: baseline;
}

#content p {
	margin: 18px 0;
	line-height: 36px;
	letter-spacing: -1px;
}
a {
	text-decoration: none;
	font-weight: bold;
}

a:link, a:visited {
	color: #2482be;
	-webkit-transition: color .2s ease-out;
}

a:hover, a:active {
	color: #FA1D00;
	-webkit-transition: color .2s ease-in;
}

span.amp {
	font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
	font-weight: normal;
	font-style: italic;
}