@import "reset";

body{
    background-color:#FCFCF8;
    color:#444;
    width:600px;
    margin:20px auto;
}

section{
    margin:25px 0;
}
h1{
    font-size:32px;
    line-height:38px;
    margin-bottom:5px;
}
h2{
    font-size:24px;
    line-height:28px;
    margin-bottom:10px;
}

#project-list, #project-glif{
    width:600px;
}

#project-list{
    color:#797979;
    margin-bottom:2px;
    li{
        display:inline;
        padding-right:10px;
        cursor:pointer;
        &.selected{
            color:#343434;
        }
    }
}

#project-glif{
    position:relative;
    z-index:10;

    img{
        position:absolute;
        width:25px;
        height:12px;
        display:none;
    }
}

#project-canvas {
    height:400px;
    width:600px;
    border:1px solid #999;
    overflow-y:hidden;
    z-index:1;
    
    & > div{
        display:none;
        height:400px;
        width:600px;
        
        &.election{ background-image:url(/img/projects/election.jpg); }
        &.prison{ background-image:url(/img/projects/prison.jpg); }
        &.salary{ background-image:url(/img/projects/salary.jpg); }
        &.solar{ background-image:url(/img/projects/solar.jpg); }
        
    }
}

#elsewhere ul{
    text-align:center;
    li{
       background-repeat: no-repeat;
       background-position: 0 0;
       display:inline-block;
       height:60px;
       width:60px;
       &:hover{
           background-position:0 -59px;
       };
       
       a{
           display:inline-block;
           width:55px;
           height:55px;
       }
    }

    .email{
        background-image: url(/img/elsewhere/email.png);
    }
    .flickr{
        background-image: url(/img/elsewhere/flickr.png);
    }
    .github{
        background-image: url(/img/elsewhere/github.png);
    }
    .lastfm{
        background-image: url(/img/elsewhere/lastfm.png);
    }
    .linkedin{
        background-image: url(/img/elsewhere/linkedin.png);
    }
    .rss{
        background-image: url(/img/elsewhere/rss.png);
    }
    .tumblr{
        background-image: url(/img/elsewhere/tumblr.png);
    }
    .twitter{
        background-image: url(/img/elsewhere/twitter.png);
    }
    .vimeo{
        background-image: url(/img/elsewhere/vimeo.png);
    }
}
#elsewhere-caption{
    margin-top:8px;
    font-size:18px;
    height:22px;
    text-align:center;
}

.ie6 #elsewhere li{
    height:100px;
}