@import "reset";

body{
    background-color:#FCFCF8;
    color:#444;
    width:600px;
    margin:20px auto;
}

section{
    margin:25px 0;
}
h2{
    margin-bottom:15px;
}

#canvas-wrapper{
    position:relative;
    width:400px;
    height:230px;
    .caption{
        font-size:14px;

    }
    img{
        width:400px;
        height:230px;
    }
    .caption{
        position:absolute;
        background-color:#000;
        background-color:rgba(0,0,0,0.8);
        color:#fff;
        bottom:0;
        right:0;
        font-size:14px;
        line-height:18px;
        padding:5px;
    }
    
}

#elsewhere ul{
    text-align:center;
    li{
       background-repeat: no-repeat;
       background-position: 0 0;
       display:inline-block;
       height:60px;
       width:60px;
       &:hover{
           background-position:0 -59px;
       };
       
       a{
           display:inline-block;
           width:55px;
           height:55px;
       }
    }

    .email{
        background-image: url(/img/elsewhere/email.png);
    }
    .flickr{
        background-image: url(/img/elsewhere/flickr.png);
    }
    .github{
        background-image: url(/img/elsewhere/github.png);
    }
    .lastfm{
        background-image: url(/img/elsewhere/lastfm.png);
    }
    .linkedin{
        background-image: url(/img/elsewhere/linkedin.png);
    }
    .rss{
        background-image: url(/img/elsewhere/rss.png);
    }
    .tumblr{
        background-image: url(/img/elsewhere/tumblr.png);
    }
    .twitter{
        background-image: url(/img/elsewhere/twitter.png);
    }
    .vimeo{
        background-image: url(/img/elsewhere/vimeo.png);
    }
}
#elsewhere-caption{
    margin-top:5px;
    font-size:18px;
    height:22px;
    text-align:center;
}

.ie6 #elsewhere li{
    height:100px;
}