<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>{{ page.title }}</title>
	
	<link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="http://use.typekit.com/atb3rqa.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
	<div id="header">
		<strong>Top Secret Treehouse.</strong> A journal about things
		<em>including...</em>
	</div>
	
	<div id="content">
		
        {{ content }}
		
	</div>
	
	<div id="footer">
		<p><strong>Ready for more?</strong> Browse the <a href="#">archive</a> or subscribe to the <a href="#">feed</a>.</p>
		<p id="colophon">&copy;2009 Jeffrey Long // Crafted in the <a href="#">Top Secret Treehouse</a></p>
	</div>
	
</body>
</html>